{% extends 'base.html' %}

{% block title %}Edit Recipe{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-4">
      <h2 class="join-message">Edit Your Recipe.</h2>
      <form method="POST" id="recipe_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <div class="edit-btn-area">
          <button class="btn btn-success">Edit this recipe!</button>
          <a href="/user/{{ user_id }}/profile" class="btn btn-outline-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}